<div class="container top">
    <div class="search-box">
        <div class="banner-area">
            <a href="/">
                <img src="/images/special/logo/{{special}}.png" alt="Wood" class="banner">
            </a>
        </div>
        <div class="search-area">
            <form action="/search" method="get">
                <input type="search" name="q" id="q" placeholder="Search" value="{{q}}" required autocomplete="off">
                <input type="text" hidden name="img" id="image">
                <button type="submit" style="background-color: #{{special}} !important;"><box-icon
                        name='search'></box-icon></button>
            </form>
        </div>
    </div>
    <div class="tools">
        <div class="tool">
            <a href="/search?q={{q}}" id="a">
                <button id="all"><box-icon name='search' color="#ff2b4b"></box-icon>&nbsp;All</button>
            </a>
        </div>
        <div class="tool">
            <a href="/search?q={{q}}&img=true" id="b">
                <button id="img"><box-icon name='image' color="#F4B400"></box-icon>&nbsp;Images</button>
            </a>
        </div>
        <div class="tool">
            <a href="https://google.com/search?q={{q}}" id="c">
                <button id="google"><box-icon type='logo' name='google' color="#DB4437"></box-icon>&nbsp;Google</button>
            </a>
        </div>
        <div class="tool">
            <a href="/about" id="d">
                <button id="about"><box-icon name='code-alt' color="#4285F4"></box-icon>&nbsp;About</button>
            </a>
        </div>
        <div class="tool">
            <a href="https://rzp.io/l/27KyQ1AB" id="e">
                <button id="donate"><box-icon name='donate-heart' color="#ff2b4b"></box-icon>&nbsp;Donate</button>
            </a>
        </div>
    </div>
</div>
<script>
    function addTheme(id) {
        let section = document.getElementById(id);
        if (id == 'a') {
            section.style.borderBottom = '#ff2b4b 1px solid';
        }

        if (id == 'b') {
            section.style.borderBottom = '#F4B400 1px solid';
            document.getElementById('image').value = true
        }

        if (id == 'c') {
            section.style.borderBottom = '#DB4437 1px solid';
        }

        if (id == 'd') {
            section.style.borderBottom = '#4285F4 1px solid';
        }

        if (id == 'e') {
            section.style.borderBottom = '#ff2b4b 1px solid';
        }
    }
    window.onload = addTheme('{{id}}');
</script>

<script>
    $(function () {
        $("#q").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://suggestqueries.google.com/complete/search",
                    dataType: "jsonp",
                    data: {
                        q: request.term,
                        client: "firefox",
                        ds: "yt"
                    },
                    success: function (data) {
                        let suggestion = []
                        data[1].forEach(sugg => {
                            suggestion.push(sugg.slice(0, 10))
                        })
                        response(suggestion);
                    }
                });
            },
            minLength: 2
        });
    });
</script>