<div class="container top">
    <div class="search-box">
        <div class="banner-area">
            <img src="/images/favicon.png" alt="Wood" class="banner">
        </div>
        <div class="search-area">
            <form action="/search" method="get">
                <input type="search" name="q" id="q" placeholder="Search" value="{{q}}" required>
                <button type="submit"><box-icon name='search'></box-icon></button>
            </form>
        </div>
    </div>
</div>

<div class="container" id="searchresultsarea">
    <div class="space"></div>
    {{#each pages}}
    <div class="searchresult">
        <h2>{{this.title}}</h2>
        <a href="{{this.url}}">{{this.url}}</a>
        <p>{{this.description}}</p>
        <p> environment where there are many threads of execution.</p>
    </div>
    {{/each}}
</div>